<div class="row">
  <div class="headerwrap">
    <h1><span class="glyphicon glyphicon-bell"></span> Todas las campañas </h1>
  </div>
  <div class="col-lg-8">
    <nav>
      <ul class="pager">
        <li class="previous" ng-class="{disabled:!page.previous}">
          <a ng-click="paginate(page.previous)">
            <span aria-hidden="true"><span aria-hidden="true">&larr;</span>Anterior</span>
          </a>
        </li>
        <li class="next" ng-class="{disabled:!page.next}">
          <a ng-click="paginate(page.next)">
            <span aria-hidden="true">Siguiente<span aria-hidden="true">&rarr;</span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-8">
      <div class="jumbotron" ng-show="main.campaigns.length === 0">
        <div class="container">
          <h1><b>Lo sentimos mucho</b></h1>
          <p>
            No pudimos encontrar información que
            cumpla esos filtros.
          </p>
          <h1><b><span class="glyphicon glyphicon-cloud"></span></b></h1>
        </div>
      </div>
    <div class="col-lg-4" ng-repeat="campaign in campaigns">
      <campaign-description detail="campaign"></campaign-description>
    </div>
  </div>
  <div class="col-lg-3" ng-controller="FilterController">
    <filter-manager></filter-manager>
  </div>
</div>
