<div>
  <chart></chart>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div  class="nav navbar-nav navbar-card">
          <div class="navbar-form navbar-right" role="navigation">
            <a class="btn btn-link" ng-click="main.paginate(main.page.previous)" ng-class="{disabled:!main.page.previous}">
              <span aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span>Anterior</span>
            </a>
            <a class="btn btn-link" ng-class="{disabled:!main.page.next}" ng-click="main.paginate(main.page.next)">
              <span aria-hidden="true">Siguiente<span class="glyphicon glyphicon-chevron-right"></span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
          <div class="jumbotron" ng-show="main.campaigns.length === 0">
            <div class="container">
              <h1><b>Lo sentimos mucho</b></h1>
              <p>
                No pudimos encontrar información que
                cumpla esos filtros.
              </p>
              <h1><b><span class="glyphicon glyphicon-cloud"></span></b></h1>
            </div>
          </div>
        <div class="col-xs-6 col-sm-4 col-lg-4 col-md-4" ng-repeat="campaign in main.campaigns">
          <campaign-description detail="campaign" class="load-card"></campaign-description>
        </div>
      </div>
      <div class="col-lg-3" ng-controller="FilterController" data-spy="affix" data-offset-top="400">
          <filter-manager></filter-manager>
      </div>
    </div>
  </div>
</div>
