<article class="card">
  <h5><b>{{detail.advisor }}</b></h5>
  <div class="banner" ng-style="{'background-image':'url({{firstBanner()}})'}">
    <div class="overlay">
      <span class="impact centered"><b>{{detail.impact|number }}</b></span>
    </div>
  </div>
    <div ng-controller="TabController as tab">
      <ul class="nav nav-stuff">
        <li ng-class="{ active:tab.isSet(1)}"><a ng-click="tab.setTab(1)"> General</a></li>
        <li ng-class="{ active:tab.isSet(2)}"><a ng-click="tab.setTab(2)"> Medios </a></li>
      </ul>
      <div class="info" ng-show="tab.isSet(1)">
        <h5><b>Campaña:</b></h5><span class="info-text">{{detail.campaign }}</span>
        <span class="info-text">{{detail.date | date}}</span>
      </div>
      <div clas="info" ng-show="tab.isSet(2)">
        <h5><b>Publicado en</b></h5>
        <span class="info-text" ng-repeat="medium in detail.media">{{medium}} {{$last ? '' : ', '}} </span>
      </div>
    </div>
  </div>
</article>
